{% extends "gesla/base.html" %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<h1>{% trans "You are already logged in" %}</h1>
{% else %}
<div class="box">
    <h1>{% trans "Login" %}</h1>
    <form action="/login" method="post">
    {{ form.non_field_errors }}
    {{ form.username.errors }}
    {{ form.username }}
    {{ form.password.errors }}
    {{ form.password }}
    <input class="submit" value="{% trans "Login" %}" type="submit">
    </form>
</div>
{% endif %}
{% endblock %}
